/* Regular */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/common/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400; /* normal */
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/common/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Extra Bold */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/common/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/common/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "JetBrainsMono";
  src: url("/common/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}