/* Regular */
@font-face {
  font-family: "INET";
  src: url("/leaderboard/app/fonts/Greek-Freak.ttf") format("truetype");
  font-weight: 400;
  /* normal */
  font-style: normal;
  font-display: swap;
}